dirty = false
disable-rrdp = false
exceptions = []
expire = 7200
history-size = 10
http-listen = []
log = "default"
log-level = "{{ routinator_loglevel }}"
refresh = 600
repository-dir = "{{ routinator_home }}/.rpki-cache/repository"
retry = 600
rrdp-proxies = []
rrdp-root-certs = []
rsync-command = "rsync"
rsync-timeout = 300
rtr-listen = {{ routinator_listen_addresses | ipwrap | map('regex_replace', '^(.*)$', '\\1:' ~ routinator_listen_port) | list | tojson }}
strict = false
syslog-facility = "daemon"
systemd-listen = false
tal-dir = "{{ routinator_home }}/.rpki-cache/tals"
validation-threads = 2
